apiVersion: v1
kind: Secret
metadata:
  name: {{ include "chart.fullname" . }}
  labels:
    {{- include "chart.labels" . | nindent 4 }}
type: Opaque
data:
  AZP_URL: {{ .Values.devops.url | b64enc }}
  AZP_TOKEN: {{ .Values.devops.token | b64enc }}
  AZP_POOL: {{ .Values.devops.pool | b64enc }}